/**
 * Standard Element styling
 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/** 
 * Custom styling for the Panopoly Theme functionality
*/
#panels-layout-category-Panopoly {
  margin: 3% 6%;
}

#panels-layout-category-Panopoly-wrapper .panels-layouts-category,
#panels-layout-category-Panopoly-wrapper .layout-link div {
  display: none; 
}


#panels-layout-category-Panopoly-wrapper .layout-link {
  float: left;
  height: 68px; 
  padding: 1.25em;
  text-align: center;
  width: 68px;
}

#panels-layout-category-Panopoly-wrapper .layout-link:hover {
  background-color: #BBB;
}

#panels-layout-category-Panopoly-wrapper .current-layout {
  background-color: #DDD;
}
